*{
    box-sizing: border-box;
}
@font-face {
    font-family:'Dela Gothic One' ;
    src: url(DelaGothicOne-Regular\ -\ Copy.ttf);
}
@font-face {
    font-family: 'Montserrat';
    src: url(Montserrat-VariableFont_wght\ -\ Copy.ttf);
}
.navigation{
    width: 100%;
    height: 88px;
    background-color: #F6F5F4;
}
.navigation-1{
    width: 1180px;
    margin: 0 auto;
    display: flex;
}
.brand{
    font-family: 'Dela Gothic One';
    font-size: 21px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    height: 21px;
    margin-left: 100px;
}
.brand-1{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    height: 22px;
    color: #000000;
    text-decoration: none;
    margin-left: 60px;
}
a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #757575;
    text-decoration: none;
    margin-left: 30px;
}
.dropdown{
    width: 55px;
    height: 22px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #757575;
    margin-left: 30px;
}
.navigation-1 button{
    width: 41px;
    height: 40px;
    background: #C3DCE3;
    border-radius: 100px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;
    color: #2B788B;
    margin-left: 230px;    
}
.alex{
    width: 34px;
    height: 22px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #757575;
    margin-left: 26px;
}
.signout{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #000000;
    margin-left: 3opx;
}
.container{
    display: flex;
    margin-top: 40px;
    background-color: #FFFFFF;
}
.left :nth-child(1){
    width: 28px;
    height: 23px;
    margin-left: 180px;
}
.Textbook{
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #757575;
    margin-left: 10px;
}
.left :nth-child(3){
    width: 30px;
    height: 25px;
    margin-left: 40px;
}
.Dictionary{
    width: 152px;
    height: 26px;
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #000000;
    margin-left: 10px;
}
.right :nth-child(1){
    width: 146px;
    height: 44px;
    margin-left: 250px;
}
.right :nth-child(2){
    width: 178px;
    height: 44px;
    margin-left: 10px;
}
.right :nth-child(3){
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
.two{
    display: flex;
    justify-content: space-evenly;
    width: 830px;
    height: 40px;
    margin-top: 40px;
    margin-left: -100px;
}
.card-1{
    display: flex
}
.card-1 :nth-child(1){
    width: 39px;
    height: 26px;
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #000000;
    margin-left: 230px;
}
.card-1 :nth-child(2){
    background: #639B6D;
    border-radius: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #F6F5F4;
    width: 43px;
    height: 25px;
    margin-left: 10px;
    border: none;
}
.card img{
    margin-left:220px;
}
.two{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
}
.card-1 button{
    margin-right: 0px;
    margin-top: 17px;
}
.two h1{
    width: 38px;
    height: 26px;
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #757575;
}
.medium{
    background: rgba(196, 162, 76, 0.3);
    border-radius: 4px;
    width: 66px;
    height: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #C4A24C;
    border: none;
    margin-left:-95px;
}
.hard{
    width: 45px;
    height: 25px;
    background: rgba(203, 91, 67, 0.3);
    border-radius: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #CB5B43;
    border: none;
    margin-left: -95px;
}
.remark{
    display: flex;
}
.left-1 img{
    width: 337px;
    height: 336px;
    margin-left: 190px;
}
.note{
    display: flex;
    align-items: center;
}
.note p{
    width: 136px;
    height: 32px;
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #000000;
    margin-left: 50px;
}
.note span{
    width: 82px;
    height: 32px;
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #757575;
}
.note img{
    margin-left: 300px;
    width: 30px;
    height: 28px;
}
.right-2{
    display: flex;
    justify-content: space-evenly;
}
.right-2 p{
    width: 87px;
    height: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.04em;
    color: #000000;
    margin-left: -200px;
}
.right-2 button{
    width: 100px;
    height: 28px;
    background: #CB5B43;
    border-radius: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #F6F5F4;
    border: none;
    margin-top: 15px;
    margin-left: -230px;
}
.right-3 :nth-child(1){
    width: 516px;
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.04em;
    color: #000000;
}
.line{
    
width: 0px;
height: 520px;
border: 1.21942px solid #E0E0E0;
transform: rotate(90deg);
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin-left:260px;
margin-top: -320px;
}
.right-3{
    display:block;
}
.right-3 :nth-child(2){
    width: 516px;
    height: 48px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.04em;
    color: #757575;
}
.right-3 :nth-child(4){
    width: 156px;
    height: 40px;
    background: #639B6D;
    border-radius: 100px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #F6F5F4;
}
.dictonary{
    width: 230px;
    height: 40px;
    background: rgba(203, 91, 67, 0.3);
    border-radius: 100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #CB5B43;
    border: none;
}